@charset "utf-8";
@import url(style.css);
@import url(reset.css);
@media screen and (max-width:1300px) {
    .footer .footer_inner .footer_left .info p:nth-child(3) {
        display: flex;
        flex-direction: column;
        row-gap: 0px;
    }
    .footer .footer_inner .footer_left .info p:nth-child(3)>span::before {
        content: '';
        display: none;
    }
    .footer .footer_inner .footer_left .copyright p:first-child {
        font-size: 5.625rem;
    }
  }
@media screen and (max-width:1200px) {
    .header .inner .nav-pc {
        display: none;
    }
    .header .inner .nav-mob  {
        display: block;
    }
    .header .inner .menu_btn {
        display: block;
        height: 21px;
    }
    .header .inner .menu_btn img {
        width: 100%;
        height: 100%;
        display: block;
    }
    .header .inner .util .util_mob_none {
        display: none;
    }
}
/* 1194px */
@media screen and (max-width: 1194px) {
 .visual .title {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 0 0 0 20px;
    
 }
}