@font-face {
    font-family: 'Syncopate';
    src: url('Syncopate-Bold.eot');
    src: url('Syncopate-Bold.eot?#iefix') format('embedded-opentype'),
        url('Syncopate-Bold.woff2') format('woff2'),
        url('Syncopate-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syncopate';
    src: url('Syncopate-Regular.eot');
    src: url('Syncopate-Regular.eot?#iefix') format('embedded-opentype'),
        url('Syncopate-Regular.woff2') format('woff2'),
        url('Syncopate-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

